@import 'tailwindcss';

@theme {
  --color-youtube: #ff0000;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  height: 100vh;
  @apply flex flex-col items-center;
  @apply bg-zinc-900 text-gray-50;
}

#root {
  @apply w-full max-w-screen-2xl;
}
